* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: nexaB;
  src: url(fonts/nexaB.otf);
}

body {
  background-color: #6158c6;
  color: #fff;
}
header {
  background-color: #312b99;
  border-bottom: 1px solid #6158c6;
  opacity: 0.9;
  position: sticky;
  top: 0;
}
a {
  color: #fff;
}

#header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
}

header img {
  height: 38px;
  margin: 10px;
}

header h1 {
  line-height: 38px;
  margin-top: 0;
}

h1 {
  margin-top: 20px;
}
#dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a#installBtn {
  font-family: nexaB;
  text-decoration: none;
  text-transform: uppercase;
  color: #40405e;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 15px;
  margin: 10px;
  transition: 0.5s;
  font-size: 18px;
  border: none;
  background-color: #61f7c4;
  border-top: 3px #2dc693 solid;
  box-shadow: 0 -1px 0 3px #1a1a75, 0 4px 0 0 #5754d9;
}
a#installBtn:hover {
  color: #40405e;
  border-top-color: #58dcb0;
  background-color: #92ffda;
}

main {
  padding: 30px 0;
  min-height: 80vh;
  margin: 0 auto;
  font-family: NexaB;
}

main h1 {
  font-size: 21px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-description {
  width: 320px;
  border: 1px solid #fff;
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 14px;
  line-height: 26px;
}

.box-description h1 {
  margin: 0;
  border-bottom: 1px solid #6158c6;
  padding: 10px 20px;
  background: #7f75e3;
  cursor: pointer;
  transition: background 0.5s;
}

.box-description h1.active,
.box-description h1:hover {
  background: #312b99;
}

.box img {
  border-radius: 20px;
  height: 600px;
}
#box-img {
  border: 1px solid #231e5d;
  margin: 0 20px;
  height: 600px;
  border-radius: 22px;
}

.box-details {
  padding: 20px;
}
.hidden {
  display: none;
}

footer {
  margin-top: 30px;
  background: #312b99;
  color: #fff;
  display: flex;
  justify-content: space-around;
  line-height: 18px;
  flex-direction: row-reverse;
  text-align: justify;
  align-items: center;
}
p.legalWarn {
  padding: 15px 20px;
}

div#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
  padding: 15px 20px;
}

.footerImg img {
  height: 38px;
}

.footerText {
  width: min-content;
  text-align: right;
}
.footerText a {
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #312b99;
  color: #000;
  margin: auto;
  padding: 0;
  border-radius: 15px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

span.sendUs,
span.sendUs a {
  color: #fff;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.5s;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px 30px;
  border-radius: 15px 15px 0 0;
  background: #6158c6;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  line-height: 40px;
}

#modal-body {
  padding: 20px 30px;
  text-align: right;
}

textarea#modal-textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  background: #6158c6;
  color: #a097fe;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 15px;
}
textarea#modal-textarea::placeholder {
  color: #ccc;
}

textarea#modal-textarea::selection {
  background: #ccc;
  color: #000;
}
